* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-shadow: none;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
html {
  min-height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.dashboard {
  position: relative;
}

.dashboard-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 16px 24px;
  color: #1248e2;
  background-color: #ffffff;
  box-sizing: border-box;
  min-width: min-content;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.dashboard-header .collapse-btn {
  padding: 0 4px;
  cursor: pointer;
  width: 32px;
  background: transparent;
  border: none;
  outline: none;
}

.dashboard-header .collapse-btn span {
  background: #011b33;
  height: 2px;
  width: 100%;
  display: block;
  margin-bottom: 4px;
  border-radius: 100px;
}

.dashboard-header .collapse-btn span:last-of-type {
  margin-bottom: 0;
}

.dashboard-header .avatar {
  border-radius: 50%;
}

.dashboard-header .logo-section {
  display: flex;
}

.dashboard-header .logo-section .logo {
  position: relative;
  font-size: 24px;
  padding-left: 24px;
}

.dashboard-content {
  position: relative;
  padding-top: 60px;
  z-index: 1;
}

.dashboard-content__sidebar {
  position: fixed;
  z-index: 10;
  width: 215px;
  height: 100%;
  background-color: transparent;
  background: #011b33;
  border: none;
  transition: all 0.3s ease;
  padding: 32px 0;
  visibility: visible;
  opacity: 1;
  will-change: visibility, opacity;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}
.dashboard-content__sidebar.collapsed {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 400px) {
  .dashboard-content__sidebar {
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.28);
  }
}

.dashboard__application-section {
  width: auto;
  height: 100%;
  background-color: transparent;
  transition: margin-left 0.3s ease;
  margin-left: 260px;
  padding: 32px 24px;
}
.dashboard__application-section.collapsed {
  margin-left: 0;
}

@media (max-width: 400px) {
  .dashboard__application-section {
    margin-left: 0;
  }
}

.content-area {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 0;
  overflow: auto;
  background: #fff;
}

.navigation-item a {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  outline: 0;
  overflow: hidden;
  padding: 16px 24px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.navigation-item a:hover {
  background: rgba(255,255,255,.03);
}

.navigation-item a.active {
  color: #fff;
  background: rgba(255,255,255,.03);
}

.navigation-item a > span {
  padding-left: 8px;
}

.navigation-item a > i {
  color: #fff;
}

.navigation-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
